*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.header-nav{
    height: 10vh;
}

.header-navPhone{
    height: 50vh !important;
}

.nav-drop{
    background-color: #343a40 !important;
}

.navbar .navbar-nav{
    width: 100%;
    justify-content: space-around;
}

.dropdown > a{
    color: rgba(255, 255, 255, 0.5);
    padding-right:5px;

}

.dropdown > a:hover{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.dropdown .dropdown-item{
    color: rgba(255, 255, 255, 0.5);
}

.dropdown .dropdown-item:hover{
    color: #16181b;
}

.acceuil-title{
    grid-row: 5;
    margin: 0;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    opacity: 0.9;
}

.acceuil-title a{
    color : #eee;
}
.acceuil-title a:hover{
    color : #eee;
    text-decoration: none;
}

.acceuil{
    height: 90vh;
    background-image: url("../img/acceuil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.link-index, .navbar i{
    font-size: 20px;
    
}
.link-index:hover{
    animation-name: bounce;
    animation-delay: 100ms;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* Pour regler la vitesse de debut et fin d'animation */
    animation-timing-function: ease;
}
  
@keyframes bounce {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-15px);
    }
}

.modal{
    color: black;
}

body{
    background-color: rgb(40,44,52);
    color: white;
}

.register-form span{
    width: 150px;
}

.register-form div, .inscription-detail, .inscription-btn{
    margin-bottom: 25px;
}

.register-form button{
    float: right;
}

main{
    min-height: 75vh;
    overflow: hidden;
    clear: both;
}

.hidden{
    display: none;
}

.star-selected{
    color: gold;
}

#toggle-avis{
    margin-top: 50px;
    margin-bottom: 50px;
}

#avis, 
#lienFormulaire,
.events-create{
    margin-bottom: 50px;
}

.review,
.rules,
.evt,
.presentation article{
    margin-top : 10px;
    margin-bottom: 30px;
    background-color: rgba(115, 115, 115, 0.98);
    padding: 20px;
    border-radius: 10px;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contact i{
    font-size: 50px;
    margin-bottom: 10px;
}

.follow i{
    font-size: 30px;
    margin-left: 20px;
}

.form-contact{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 50px;
}

.form-contact>div{
    width: 45%;
}

.form-contact button{
    float: right;
}

h2{
    margin: 20px 0 ;
}

.unread{
    font-weight: bold;
}
.table-msg{
    display: flex;
    margin: 20px 0;
}
.table-select{
    width: 10%;
}
#labelCheckAll{
    margin: 0;
}
.slider{
    width: 80%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.slider img{
    height: 65vh;
    width: 100%;
}
.presentation{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 700px 1500px;
    grid-gap: 10px;
}
.evt{
    border: solid black 2px;
    grid-column: 9/-1;
    grid-row: 1/-1;
    clear:both
}
.evt h3{
    border-bottom: solid black 2px;
}
.evt article{
    border-bottom: solid black 1px;
    padding: 5px;
}
.presentation section{
    grid-column: 1/8;
}
.equip article{
    clear:both;
    overflow: hidden;
}
.equip article img{
    width: 40%;
    height: 300px;
    margin: 20px;
}
.equip article:nth-of-type(2n) img{
    float: left;
}
.equip article:nth-of-type(2n+1) img{
    float: right;
}

@media (max-width: 1024px){
    header{
        display: none;
    }
}
